html {
    background-color: #CEEEF2;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #000000;
}

a:visited {
    color: #757D39;
}

#top-banner {
    background-color: #7FC0C9;
    height: 150%;
}

p {
    text-align: left;
}

header, footer {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #7FC0C9;
  }

h1, h6 {
    margin-left: 25px;
  }

span {
    display: none;
}

span:hover .tile {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: #CEEEF2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li::before {
        font-family: Impact;
        content: '\273A';
        color: #CECCDE;
        margin-right: 5px;
}

#about-me {
    display: flex;
    flex-direction: row;
}

.flex-container {
   display: flex;
   flex-direction: column; 
   align-items: flex-start;
}

.bio-image {
    border-radius: 15px 50px;
    margin-left: 30px;
    /* max-width: 15%;
    max-height: 15%; */
}

.bio {
    padding: 50px;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin:auto;
}

.img-fluid {
    max-width: 100%;
}

#big-project {
    width:50%;
    height:200px;
    flex-basis: 100%;
    border: 3px solid #CECCDE
}

.sidebar {
    background-color: #757D39;
}

.project-image {
    border: 5px solid #7FC0C9;
}

/* media queries */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        text-align: center;
    }

    #page-wrapper {
        justify-content: center;
        text-align: center;
    }

    #big-project {
        flex-shrink: 2
    }
}

@media screen and (max-width: 768px) {
    #contact {
        text-align: center;
    }
    
    #big-project {
        flex-shrink: 4
    }

    .flex-container {
        flex-direction: column;
    }
  }